body {
  background-color: #C9F5FF;
}

h1 {
  text-align: center;
  color: #242423;
}

.row {
  margin-top: 30px;
}

.card-text {
  text-align: center;
  display: none;
}

.view {
  display: block;
}

.one {
  background-color: blue;
}

.card:hover {
  background-color: #89bbfe;
}

.card-title:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #615d6c;
  cursor: s-resize;
}

.card-title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}