.row {
  margin-top: 30px;
}

.card-text {
  text-align: center;
  display: none;
}

.view {
  display: block;
}

.one {
  background-color: blue;
}

.card-title:hover {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(71, 71, 238);
}

.card-title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}